@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
padding: 0;
margin: 0;

}

.container {
    width: 100%;
    max-width: 1256px;
    padding: 0 20px;
    margin: 0 auto;
}



.next-day{
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;

}

a {
    text-decoration: none;
    color: #FE5B00;

}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #333;
    margin-bottom: 40px;
    align-self: center;
}


@media screen and (max-width: 400px){
    h1 {
    font-size: 48px;
    }
}

a {
    font-family: 'Open Sans', sans-serif;

}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1%;
}

.logo {
    color: #FE5B00;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    display: inline-flex;
    justify-content: center;
    border: #FE5B00 solid 2px;
    padding: 10px 20px;
    border-radius: 2px;
    border-color: #FF6006;
    width: 245px;
    height: 1.5em;
}

.wrapper-next{
    margin-top: 35px;
    margin-bottom: 70px;
    display: flex;
}
.menu {
    display: flex;
    flex-direction: column;
}

.next{

    margin-left: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #333;
}

.arrow {
 margin-left: 10px;
 height: 10px;
 align-self: center;
}

.img h1 {
    color: white;
}


.wrap {
    display: none;
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    width: 200px;
}

.menu:hover .wrap {display: block;}

ul {
margin: 5px;
padding: 10px 25px;
text-decoration: none;
list-style-type: none;
}

ul li {
    padding-top: 5px;
    padding-bottom: 5px;

}