@import url('/Challenge/css/all.css');
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
a {
  font-family: 'Open Sans', sans-serif;
}
body {
  padding: 0px;
  margin: 0px;
}
.first-screen {
  background: url('/src/img/back.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100vh;
  height: 100vh;
}
.wrapper-inner__left {
  display: flex;
  text-align: left;
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 48px;
  }
}
.btn {
  display: inline-flex;
  justify-content: center;
  font-size: 28px;
  font-weight: 400;
  width: 264px;
  padding: 15px;
  border-radius: 2px;
  background-color: #FF6006;
  text-decoration: none;
  color: white;
}
.btn:hover {
  background-color: #FE5B00;
}
.all {
  position: absolute;
  bottom: 50px;
  right: 100px;
  color: white;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
}
